# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/archives

# testing
/coverage

# production
/public/js/*

# misc
.DS_Store
.env.local
.env.development
.env.test.local
.env.production
/todonime.sublime-workspace

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.png
*.jpg
*.svg
